version: "3.8"

services:
  web:
    build: .
    ports:
      - "8080:80"
    restart: unless-stopped
    labels:
      - "traefik.enable=false"
    develop:
      watch:
        - path: .
          action: rebuild
